    h1 {
        display: flex;
        text-align:center;
        justify-content: center;
        
    }
    
    body { 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #f4f4f4;
      font-family: Arial, sans-serif;
    }

    .calculator {
      background: rgb(0, 0, 0);
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      width: 300px;
    }

    .display {
      width: 100%;
      height: 65px;
      font-size: 2rem;
      text-align: right;
      padding: 15;
      border: none;
      outline: none;
      margin-bottom: 15px;
      background: #8cbeec;
      border-radius: 8px;
    }

    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }

    button {
      padding: 20px;
      font-size: 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background: #e0e0e0;
      transition: 0.2s;
    }

    button:hover {
      background: #d3d3d3;
    }

    .operator {
      background: #f9a825;
      color: white;
    }

    .equal {
      background: #4caf50;
      color: white;
      grid-column: span 2;
    }

    .clear {
      background: #f44336;
      color: white;
    }